@charset "UTF-8";

/* A B O U T   T H I S   D O C U M E N T
    Filename:               witness_styles.css
    Version:                2.0
    Original Release Date:  
    Last Modified:          06/30/2014
    Project Title:          The Book of Margery Kempe
    Project Director:       Joel W. Fredell
    Project Email Address:  kempeproject@selu.edu
    Copyright Notice:       This document was created exclusively for The Book of Margery Kempe and Humanities Online, both Digital Humanities
                            projects of Southeastern Louisiana University's Department of English. The information contained herein may not be used
                            or reproduced in any form without the express permission of the Project Director. Interested parties may contact the
                            Project Director or the document's Author, Charles W. Borchers, IV, at the Project Email Adress indicated above. The
                            Project Director and Author share the copyright of this document. */


/* F O N T   F A M I L I E S */

.medieval {                                             /* .medieval reverts to .folio for encoder review. */
	color: #000;
	font-family: Andron;
	font-size: 12pt;
	line-height: 7.5pt;
	text-align: justify;
	}

/* T E X T   F E A T U R E S */

.ab {
	position: relative;
	width: 24em;
	}
.ab:after {
    content: " ";
    display: inline-block;
    width: 100%;
    }
.ab-short {
	position: relative;
    text-align: left;
    }
.ab-short:after {
    content: " ";
    display: inline-block;
    width: 100%;
    }
.expan {
	display: none;
	}
#na {
	text-align: center;
	}
sub {
	line-height: 0em;
	}
sup {
	line-height: 0em;
	}

	/* P r o m p t s   &   D r o p   C a p i t a l s */

	.dropcap-x6 {
		color: #000;
		float: left;
		font-size: 9em;
		left: 0.2em;
		position: absolute;
		/*text-align: center;*/
		top: 0.4em;
		width: 1em;
		z-index: 1;
	}

/* S C R I B E S
All scribes are assigned the following default styles: add, add-above, add-below, add-margin-left, and add-margin-right. */

.OWNER {
    color: #000;
        }

    /* T o p   M a r g i n a l i a */

	.add-top-right {
        color: #000;
        /*left: 22em;*/
        left: 27em;
		position: absolute;
        top: -0.05em;
        }

	/* B o t t o m   M a r g i n a l i a */

    .add-bottom-right {
        color: #000;
        /*left: 12em;*/
        left: 14em;
		position: absolute;
        top: -0.05em;
        }

.LIBRARIAN {
	color: #CCC;
        }

    /* B o t t o m   M a r g i n a l i a */

    .add-bottom-LIBRARIAN {
        color: #CCC;
        left: 11em;
		position: absolute;
        top: -0.05em;
        } 

/* S H O W C A S E */

	/* E m b e d d e d   F o n t s
	Cross-browser support REQUIRES that 1) the style sheet containing the @font-face rule(s), 2) the font(s) referenced by those rule(s), 3) the Web
	page(s) that will use them share the SAME folder, and 4) IE8-compatible webfonts be listed first. */

		/* Used by IE8 */
	
		@font-face {
			font-family: Andron;
			src: url('andron_scriptor_web_3_1.eot');
			}
		
		/* Used by Other Web Browsers */
	
		@font-face {
			font-family: Andron;
			src: url('andron_scriptor_web_3_1.woff');
			}

	/* H y p e r l i n k s */

	a:link {
		color: #CCC;
		text-decoration: none;
		}
	a:visited {
		color: #CCC;
		text-decoration: none;
		}
	a:hover {
		color: #999;
		text-decoration: none;
		}
	a:active {
		color: #999;
		text-decoration: none;
		}

	/* T e x t   F e a t u r e s */

	body {                                             /* Disable for encoder review. */
		margin: 0px;
		}
    .body-small {
		font-size: 9pt;
		margin: 0px;
		}
	.block_text {
		padding-left: 25px;
		}
	.heading_1 {
		color: #09F;
		font-size: 16pt;
		font-variant: small-caps;
		font-weight: bold;
		}
	.heading_2 {
		color: #999;
		font-size: 12pt;
		font-variant: small-caps;
		font-weight: bold;
		}
	.heading_3 {
		color: #09F;
		font-size: 10pt;
		font-variant: small-caps;
		font-weight: bold;
		}

	/* W e b a p p */

	#main {
		height: 100%;
		position: fixed;
		width: 100%;
		}
	#navbar-tab {
		background-color: #000;
		height: 12px;
		position: fixed;
		text-align: center;
		width: 24px;
		z-index: 5;
		-moz-border-radius-bottomleft: 5px;
		-moz-border-radius-bottomright: 5px;
		-webkit-border-bottom-left-radius: 5px;
		-webkit-border-bottom-right-radius: 5px;
		}
	#navbar {
		background-color: #000;
        border-bottom: 1px solid #666;
		height: 20px;
		width: 100%;
		z-index: 2;
		}
	#first_button {
		margin-left: 45px;
		}
	.navbar-navigation {
		background-color: #000;
		display: inline-block;
		height: 20px;
		width: 110px;
		}
	.navbar-location {
		border: 1px solid #666;
		color: #09C;
		display: inline-block;
		font-family: Arial;
		font-size: 8pt;
		font-weight: bold;
		height: 14px;
		margin-left: 8px;
		margin-right: 8px;
		margin-top: 2px;
		text-align: center;
		vertical-align: top;
		width: 40px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		}
	#navbar-folio {
		background-color: #000;
		border: 1px solid #666;
		display: none;
		height: 70%;
		left: 108px;
		overflow: auto;
		position: fixed;
		top: 20px;
		width: 100px;
		z-index: 3;
		-moz-border-radius-bottomleft: 5px;
		-moz-border-radius-bottomright: 5px;
		-webkit-border-bottom-left-radius: 5px;
		-webkit-border-bottom-right-radius: 5px;
		}
	.navbar-folio-text {
		color: #FFF;
		font-family: Arial;
		font-size: 8pt;
		font-weight: bold;
		line-height: 14px;
		padding-left: 5px;
		}
	.shortcut {
		color: #FFF;
		float: left;
		font-family: Arial;
		font-size: 8pt;
		height: 20px;
		padding-left: 5px;
		width: 40px;
		}
	#navbar-facs {
		background-color: #000;
		border: 1px solid #666;
		height: 70%;
		left: 197px;
		position: fixed;
		top: 20px;
		width: 352px;
		z-index: 2;
		-moz-border-radius-bottomright: 5px;
		-webkit-border-bottom-right-radius:5px;
		}
	#toggle-view {
		margin-left: 20px;
		}
	#navbar-magnify {
		background-color: #000;
		border: 1px solid #666;
		display: none;
		left: 260px;
		position: fixed;
		top: 20px;
		width: 178px;
		z-index: 2;
		-moz-border-radius-bottomleft: 5px;
		-moz-border-radius-bottomright: 5px;
		-webkit-border-bottom-left-radius: 5px;
		-webkit-border-bottom-right-radius: 5px;
		}
	.navbar-magnify-text {
		color: #FFF;
		font-family: Arial;
		font-size: 8pt;
		font-weight: bold;
		line-height: 14px;
		padding-left: 5px;
		padding-right: 15px;
		vertical-align: bottom;
		}
	#navbar-enlarge {
		background-color: #000;
		border: 1px solid #666;
		display: none;
		left: 286px;
		position: absolute;
		top: 20px;
		width: 178px;
		z-index: 2;
		-moz-border-radius-bottomleft: 5px;
		-moz-border-radius-bottomright: 5px;
		-webkit-border-bottom-left-radius:5px;
		-webkit-border-bottom-right-radius:5px;
		}
	.navbar-enlarge-text {
		color: #FFF;
		font-family: Arial;
		font-size: 8pt;
		font-weight: bold;
		line-height: 14px;
		padding-left: 5px;
		padding-right: 15px;
		vertical-align: bottom;
		}
	#toggle-scribe {
		margin-left: 20px;
		}
	#navbar-scribe {
		background-color: #000;
		border: 1px solid #666;
		display: none;
		left: 332px;
		overflow: auto;
		position: fixed;
		top: 20px;
		width: 178px;
		z-index: 2;
		-moz-border-radius-bottomleft: 5px;
		-moz-border-radius-bottomright: 5px;
		-webkit-border-bottom-left-radius: 5px;
		-webkit-border-bottom-right-radius: 5px;
		}
	.navbar-scribe-text {
		color: #09C;
		font-family: Arial;
		font-size: 8pt;
		font-weight: bold;
		line-height: 14px;
		padding-left: 5px;
		padding-right: 25px;
		vertical-align: bottom;
		}
	#navbar-info {
		background-color: #000;
		border: 1px solid #666;
		color: #999;
		display: none;
		height: 75%;
		left: 11%;
		padding: 20px;
		position: absolute;
		overflow: auto;
		top: 11%;
		width: 75%;
		z-index: 2;
		-moz-border-radius-bottomleft: 5px;
		-moz-border-radius-bottomright: 5px;
		-moz-border-radius-topleft: 5px;
		-moz-border-radius-topright: 5px;
		-webkit-border-bottom-left-radius: 5px;
		-webkit-border-bottom-right-radius: 5px;
		-webkit-border-top-left-radius: 5px;
		-webkit-border-top-right-radius: 5px;
		}
	.navbar-info-text {
		color: #FFF;
		font-family: Arial;
		font-size: 10pt;
		text-align: justify;
		}
	#content {
		background-color: #666;
		box-sizing: border-box;
		height: 100%;
		/* padding-bottom: 0px; */
		padding-bottom: 21px;
		position: fixed;
		width: 100%;
		-moz-box-sizing: border-box;
		}
	#content-left {
		background-color: #000;
		float: left;
		height: 100%;
		overflow: auto;
		width: 49.97%;
		}
	#copyright {
		bottom: 22px;
		position: fixed;
		}
	#content-right {
		background-color: #FFF;
		float: right;
		height: 100%;
		overflow: auto;
		/*white-space: nowrap;*/
		width: 49.97%;
		}
	.folio {
		display: none;                                /* Disable for encoder review. */
		left: 10em;
		position: relative;
		/*white-space: nowrap;*/
		}